## **Instalasi**

In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.8/dist-packages (0.1.87)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)

In [ ]:
import pandas as pd
import datetime

## Ticker Module
To access data for a single stock

In [ ]:
import yfinance as yf
stock = yf.Ticker('META')

In [ ]:
stock.info

{'zip': '94025',
 'sector': 'Communication Services',
 'fullTimeEmployees': 87314,
 'longBusinessSummary': "Meta Platforms, Inc. develops products that enable people to connect and share with friends and family through mobile devices, personal computers, virtual reality headsets, wearables, and in-home devices worldwide. It operates in two segments, Family of Apps and Reality Labs. The Family of Apps segment's products include Facebook, which enables people to share, discover, and connect with interests; Instagram, a community for sharing photos, videos, and private messages, as well as feed, stories, reels, video, live, and shops; Messenger, a messaging application for people to connect with friends, family, groups, and businesses across platforms and devices through chat, audio and video calls, and rooms; and WhatsApp, a messaging application that is used by people and businesses to communicate and transact privately. The Reality Labs segment provides augmented and virtual reality related products comprising virtual reality hardware, software, and content that help people feel connected, anytime, and anywhere. The company was formerly known as Facebook, Inc. and changed its name to Meta Platforms, Inc. in October 2021. Meta Platforms, Inc. was incorporated in 2004 and is headquartered in Menlo Park, California.",
 'city': 'Menlo Park',
 'phone': '650 543 4800',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://investor.fb.com',
 'maxAge': 1,
 'address1': '1601 Willow Road',
 'industry': 'Internet Content & Information',
 'ebitdaMargins': 0.37138999,
 'profitMargins': 0.2441,
 'grossMargins': 0.80334,
 'operatingCashflow': 54067998720,
 'revenueGrowth': -0.045,
 'operatingMargins': 0.30091998,
 'ebitda': 43867000832,
 'targetLowPrice': 80,
 'recommendationKey': 'buy',
 'grossProfits': 95280000000,
 'freeCashflow': 19749376000,
 'targetMedianPrice': 143,
 'currentPrice': 122.43,
 'earningsGrowth': -0.491,
 'currentRatio': 2.57,
 'returnOnAssets': 0.12749,
 'numberOfAnalystOpinions': 50,
 'targetMeanPrice': 153.53,
 'debtToEquity': 21.339,
 'returnOnEquity': 0.22398001,
 'targetHighPrice': 392,
 'totalCash': 41776001024,
 'totalDebt': 26481000448,
 'totalRevenue': 118115000320,
 'totalCashPerShare': 15.755,
 'financialCurrency': 'USD',
 'revenuePerShare': 43.453,
 'quickRatio': 2.336,
 'recommendationMean': 2.3,
 'exchange': 'NMS',
 'shortName': 'Meta Platforms, Inc.',
 'longName': 'Meta Platforms, Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'META',
 'messageBoardId': 'finmb_20765463',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 2.643,
 'beta3Year': None,
 'enterpriseToEbitda': 7.116,
 '52WeekChange': -0.62073666,
 'morningStarRiskRating': None,
 'forwardEps': 7.81,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 2248669952,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 46.564,
 'sharesShort': 41523267,
 'sharesPercentSharesOut': 0.015700001,
 'fundFamily': None,
 'lastFiscalYearEnd': 1640908800,
 'heldPercentInstitutions': 0.7505,
 'netIncomeToCommon': 28832000000,
 'trailingEps': 11.9,
 'lastDividendValue': None,
 'SandP52WeekChange': -0.14677763,
 'priceToBook': 2.6292844,
 'heldPercentInsiders': 0.0055299997,
 'nextFiscalYearEnd': 1703980800,
 'yield': None,
 'mostRecentQuarter': 1664496000,
 'shortRatio': 0.58,
 'sharesShortPreviousMonthDate': 1665705600,
 'floatShares': 2203755134,
 'beta': 1.204382,
 'enterpriseValue': 312144756736,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.522,
 'priceToSalesTrailing12Months': 2.748417,
 'dateShortInterest': 1668470400,
 'pegRatio': -0.77,
 'ytdReturn': None,
 'forwardPE': 15.676057,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0185,
 'sharesShortPriorMonth': 25873704,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 123.49,
 'regularMarketOpen': 121.75,
 'twoHundredDayAverage': 168.1178,
 'trailingAnnualDividendYield': 0,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 124.67,
 'navPrice': None,
 'averageDailyVolume10Day': 28916600,
 'regularMarketPreviousClose': 123.49,
 'fiftyDayAverage': 119.4274,
 'trailingAnnualDividendRate': 0,
 'open': 121.75,
 'toCurrency': None,
 'averageVolume10days': 28916600,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 121.35,
 'currency': 'USD',
 'trailingPE': 10.288236,
 'regularMarketVolume': 35474884,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 324629266432,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 45174980,
 'dayLow': 121.35,
 'ask': 122.06,
 'askSize': 900,
 'volume': 35474884,
 'fiftyTwoWeekHigh': 352.71,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 88.09,
 'bid': 0,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 800,
 'dayHigh': 124.67,
 'coinMarketCapLink': None,
 'regularMarketPrice': 122.43,
 'preMarketPrice': 121.78,
 'logo_url': 'https://logo.clearbit.com/investor.fb.com',
 'trailingPegRatio': 2.6756}

## Price History

In [ ]:
harga = stock.history(period='3mo')
harga.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-09-06 00:00:00-04:00,160.100006,161.690002,157.690002,158.539993,19339800,0,0
2022-09-07 00:00:00-04:00,157.759995,160.960007,156.809998,160.389999,16831200,0,0
2022-09-08 00:00:00-04:00,158.710007,162.229996,157.740005,162.059998,22530800,0,0

In [ ]:
harga['Returns'] = harga['Close'].pct_change()
harga.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Returns
Date,,,,,,,,
2022-09-06 00:00:00-04:00,160.100006,161.690002,157.690002,158.539993,19339800,0,0,NaN
2022-09-07 00:00:00-04:00,157.759995,160.960007,156.809998,160.389999,16831200,0,0,0.011669
2022-09-08 00:00:00-04:00,158.710007,162.229996,157.740005,162.059998,22530800,0,0,0.010412
2022-09-09 00:00:00-04:00,163.250000,169.539993,163.020004,169.149994,22086800,0,0,0.043749
2022-09-12 00:00:00-04:00,167.389999,171.389999,167.279999,168.960007,23220400,0,0,-0.001123

In [ ]:
display(stock.history(period='1d'))

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-12-05 00:00:00-05:00,121.75,124.669998,121.349998,122.43,35451500,0,0

## Dividend History

In [ ]:
# Visa (V) dividend history for the past 8 quarters
stock = yf.Ticker('V')  
stock.dividends.tail(10)

Date
2020-08-13 00:00:00-04:00    0.300
2020-11-12 00:00:00-05:00    0.320
2021-02-11 00:00:00-05:00    0.320
2021-05-13 00:00:00-04:00    0.320
2021-08-12 00:00:00-04:00    0.320
2021-11-10 00:00:00-05:00    0.375
2022-02-10 00:00:00-05:00    0.375
2022-05-12 00:00:00-04:00    0.375
2022-08-11 00:00:00-04:00    0.375
2022-11-09 00:00:00-05:00    0.450
Name: Dividends, dtype: float64

## Major Shareholders

In [ ]:
# Institutional holders of Palantir (PLTR)
stock = yf.Ticker('PLTR')
stock.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",157485528,2022-09-29,0.0796,1132320955
1,Blackrock Inc.,91718522,2022-09-29,0.0463,659456178
2,State Street Corporation,34876691,2022-09-29,0.0176,250763410
3,"Renaissance Technologies, LLC",33130047,2022-09-29,0.0167,238205039
4,"Geode Capital Management, LLC",21854152,2022-09-29,0.0110,157131354
5,Voya Investment Management LLC,18706838,2022-09-29,0.0095,134502166
6,Norges Bank Investment Management,14780767,2021-12-30,0.0075,106273715
7,Morgan Stanley,13475330,2022-09-29,0.0068,96887623
8,"Two Sigma Investments, LP",13265535,2022-09-29,0.0067,95379197
9,Goldman Sachs Group Inc,11870481,2022-09-29,0.0060,85348759

## Analyst Recommendations

In [ ]:
stock = yf.Ticker('ZM')
stock.recommendations

                                      Firm      To Grade From Grade Action
Date
2019-04-22 13:29:45  Summit Insights Group          Sell              init
2019-04-30 10:42:50              Bernstein    Outperform              init
2019-04-30 12:30:54             Rosenblatt       Neutral              init
2019-05-13 10:42:22          Piper Jaffray    Overweight              init
2019-05-13 10:43:27              JP Morgan    Overweight              init
...                                    ...           ...        ...    ...
2022-11-22 12:23:14       MoffettNathanson  Underperform              main
2022-11-22 12:29:37         Morgan Stanley  Equal-Weight              main
2022-11-22 12:34:26            Wells Fargo  Equal-Weight              main
2022-11-23 13:22:40               Barclays  Equal-Weight              main
2022-11-23 14:56:58          Goldman Sachs       Neutral              main

[193 rows x 4 columns]

## Calendar

In [ ]:
stock = yf.Ticker('TSLA')
stock.calendar

                                    0                    1
Earnings Date     2023-01-24 10:59:00  2023-01-30 12:00:00
Earnings Average                 1.27                 1.27
Earnings Low                     0.86                 0.86
Earnings High                    1.51                 1.51
Revenue Average           26235500000          26235500000
Revenue Low               21273000000          21273000000
Revenue High              29429800000          29429800000